#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#blackcard {
    border: 2px solid black;
    background: black;
    width: 192px;
    height: 215px;
    display: inline-block;
}

.cardText {
    font: 'Tahoma';
    font-weight: bold;
}
.black {
    color: white;
    font-size: 30px;
    padding: 10px 15px 0px 15px;
    line-height: 25px;
}

#blackcard #cardgif {
    height: 100%;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;

}

.white {
    color: #000;
    font-size: 40px;
    padding: 5px 10px 0px 10px;
    line-height: 15px;
}

#whitecard {
    border: 2px solid #000;
    background: #fff;
    float: left;
    width: 130px;
    height: 165px;
    display: inline-block;
    margin: 5px 8px 5px 0px;
}
.whitecard:hover {
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    z-index: 1;
    border: 2px solid red;
}



.img-frame {
    width: 110px;
    height: 100px;

}

#player-score {
    text-align: center;
    color: blue;
    font-size: 30px;
    display: block;
    min-width: 20px;
    padding: 3px 7px;
    lint-height: 1;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin: auto;

}

.current-status {
    text-align: center;
    color: blue;
    font-size: 30px;
    display: block;
    min-width: 20px;
    padding: 3px 7px;
    lint-height: 1;
    white-space: no-wrap;
    vertical-align: middle;
    border-radius: 10px;
    margin: auto;

}

.cardRow {
    background-color: purple;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    display: table;
    list-style: none;

}

#vert {
    -webkit-transform:rotate(270deg);
    font-size: 50px;
 // position: absolute;
  top: 0%;
  left: 0%;
  background: #DDD;
  margin: 40;
}