body {
    background-image: url("/footer_lodyas.png");
}

#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#blackcard {
    border: 2px solid black;
    background: black;
    width: 192px;
    height: 215px;
    display: inline-block;
    margin: 20px;

}

.cardText {
    font: 'Tahoma';
    font-weight: bold;
}
.black {
    color: white;
    font-size: 30px;
    padding: 10px 15px 0px 15px;
    line-height: 25px;
}

#blackcard #cardgif {
    height: 100%;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;

}

.white {
    color: #000;
    font-size: 40px;
    padding: 5px 10px 0px 10px;
    line-height: 15px;
}

.whitecard {
    border: 2px solid #000;
    background: #fff;
    float: left;
    width: 130px;
    height: 165px;
    display: inline-block;
    margin: 5px 2px;
}

.whitecard:active {
    box-shadow: 0px 0px 30px gray;
    z-index: 1;
    border: 2px solid green;
}

.whitecard:hover {
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    z-index: 1;
    border: 2px solid red;
}

.img-frame {
    width: 110px;
    height: 100px;

}

#player-score {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: block;
    min-width: 20px;
    padding: 3px 7px;
    lint-height: 1;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin: auto;

}

.current-status {
    text-align: center;
    color: blue;
    font-size: 30px;
    display: block;
    min-width: 20px;
    padding: 3px 7px;
    lint-height: 1;
    white-space: no-wrap;
    vertical-align: middle;
    border-radius: 10px;
    margin: auto;

}

.cardRow {
    background-color: purple;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    display: table;
    list-style: none;
    position: relative;
}

.picksRow {
    background-color: #3512B3;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: 165px;
    display: table;
    list-style: none;
    position: relative;
}

#vert {
    -webkit-transform:rotate(270deg);
    font-size: 50px;
 // position: relative;
  top: 900px;
  left:15px;
  //background: blue;
  color: white

}



#section1, #section3 {
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    height: 900px;;
    width: 100%;
}

@media (min-width:768px) {
    .v-center {
        display:table;
        height:90%;
        width:100%;
        vertical-align:middle;
    }
}

.loginForm {
    text-align: center;
    display: block;
    padding: 3px 7px;
    lint-height: 1;
    margin: auto;
}

.entry {
    color: green;
    font-size: 18;
    font-style: bold;
}

.playerName {
    color: green;
    font-size: 30;
    font-style: bold;
}



#blackcard2 {
    position: absolute;
    border: 2px solid black;
    background: black;
    width: 192px;
    height: 215px;
    margin: 20px;
   // float: left;
   // left: 34%;                        /* align them to the center of the screen */

}

.cardRow > .col-xs-1 {
    padding: 0;
    width: 5.5%;
}

.cardRow > .col-xs-11 {
    padding: 0;

}
.avatar.player-frame {

}