<section>
    <div class="container fill" id="section1">
        <div class="loginForm col-xs-12">
            <h1 class="text-center">{{header}}</h1>
            <p class="text-center">
                <br>
                <div ng-show="!readyForUsername">
                    <h3>Create Your Room!</h3></div>
                <div>
                    <form ng-submit="createRoom()">
                        <input class="loginForm entry" placeholder="Enter Username (a-z,0-9)" ng-model="newUser" maxlength="18" ng-disabled="submitted" />
                        <input class="loginForm entry" placeholder="Add Room" ng-model="createdRoom.name" maxlength="18" ng-disabled="submitted" />
                        <input class="loginForm entry" placeholder="Enter Player Count" ng-model="createdRoom.playerMax" maxlength="18" ng-disabled="submitted" />
                        <input class="loginForm entry" placeholder="Enter Password" ng-model="createdRoom.password" maxlength="18" ng-disabled="submitted" />
                        <button type="submit" class="join-room btn-warning loginForm">CREATE!!</button>
                    </form>
                </div>
                    <button type="button" ng-show="allPlayers.length>= playerMinimum" class="btn-warning loginForm" ng-click="joinRoom()">ENTER!!</button>

                <h1 class="playerName" ng-repeat="player in allPlayers track by player._id">{{player.name}}</h1>

            </p>
        </div>
    </div>
</section>
