<!-- <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form> -->


<section  >
    <div class="container fill" id="section1">
        <div class = "loginForm col-xs-12">
        <h1 class="text-center">GIFS AGAINST HUMANITY</h1>
<!--         <h2 class="text-center lato animate slideInDown">Change It To Say <b>Something</b> Unique</h2>
 -->        <p class="text-center">
            <br>
                <form  ng-submit="addUser()">
                    <input class="loginForm entry" placeholder="enter username" ng-model="newUser" />
                    <button class="btn-success loginForm">ADD USER</button>
                </form>
                <h1 class="playerName" ng-repeat="player in allPlayers track by player._id">{{player.name}}</h1>
                <h1 ng-show="userCount===6">ROOM READY</h1>
                <button ng-show="userCount===6" class="btn-success" ng-click="joinRoom()" ng-show="roomReady">ENTER!!</button>

            </p>
       </div>
    </div>

</section>

