h1 {
  font-weight: 500;
}
.loginForm {
  margin: 0 auto;
}
button {
  width: 184px;
}
input{
  width: 184px;
}
.intense{
  color: #eb2c12;
}
form{
  padding: 0 0 10px 0;
}
.playerName {
  font-family: 'Oswald', sans-serif;
  margin: 5px 0;
}
.container.fill {
  padding: 20px 0 0;
}