h1 {
  font-weight: 500;
}
#login-form {
  width: 60%;
  margin: 0 auto;
}
button {
  width: 184px;
}
input{
  width: 184px;
}
.intense{
  color: #eb2c12;
}
.playerName{
  margin: 5px 0;
}
form{
  padding: 0 0 10px 0;
}