<section id="home">
  <div class="container" id="game-container">
    <div style="color:white" ng-show="_developer">
      <div class="row">
        <div class="col-xs-3">
          <h5 ng-show="isDealer">I'm The Dealer!!</h5>
          <button ng-click="newDealer()">NEW DEALER</button>
        </div>
      </div>
    </div>

    <div class="player-row">
      <div ng-repeat="playerInfo in allPlayers track by $index" class="avatar player-frame">
        <player player-info="playerInfo" my-id="localId"></player>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6" ng-show="_developer">
        <button ng-click="newQuestion()">Pick New Question</button>
        <button class="btn" ng-click="toQuestionPhase()">To next Roundd!!!</button>
        <hr/>
      </div>
    </div>

    <div class="table clearfix"><!--Table new!-->
      <div class="blackcard-display"><!-- blackcard new!-->
        <div id="blackcard" class="shadow">
          <div class="cardText black"><h3 data-fittext-min="20">{{questionDeck[0].title}}</h3>
            <h3 ng-show="!questionDeck[0]">DECK EMPTY!!</h3>
          </div>
        </div>
      </div>
      <div class="picksRow">
        <div ng-click="dealerSelection(card)" ng-repeat="card in pickedCards track by $index" class="whitecard">
          <div class="cardText white">
            <h3 ng-show="!showPicks">GIFS AGAINST HUMANITY</h3>
            <h3 ng-show="_developer"> {{card.player.name}}</h3>
            <img ng-mouseover="hoverImage($event, -40, 30)" ng-mouseleave="endHover()" ng-show="showPicks"
                 class="cardgif" height="100%" width="100%"
                 src="{{card.imageUrl}}"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="_developer">
      <div class="col-xs-1">
        <button ng-click="dealToPlayer(primaryPlayerIndex, 1)">Deal Single</button>
      </div>
      <div class="col-xs-1">
        <button ng-click="dealToPlayer(primaryPlayerIndex, 8)">Deal Hand</button>
      </div>
      <div class="col-xs-1">
        <p>hand:</p>
        <br>
      </div>
    </div>
    <br>
    <!--button ng-show="isDealer() && revealReady" ng-click="revealPicks()" class="btn btn-success">REVEAL!!</button-->
    <div class="player-hand clearfix">
      <div id="hand-block" ng-show="isDealer()">
        <h1>You're the Dealer</h1>
        <button id="dealer-button" ng-click="revealPicks()" class="btn btn-success" ng-disabled="!revealReady">{{dealerButtonText()}}</button>
      </div>
      <div ng-click="chooseGif(card)" ng-repeat="card in allPlayers[primaryPlayerIndex].hand" class="whitecard-container">
        <gif-card ng-mouseover="hoverImage($event, 200, 30)" ng-mouseleave="endHover()" is-dealer="true"
                  the-card="card"></gif-card>
      </div>
    </div>
  </div>
  <div id="game-bar">
    <div id="left">
      <div id="menu"><i class="glyphicon glyphicon-menu-hamburger"></i>
      </div><div id="logo">GIFS<br/>AGAINST<br/>HUMANITY.</div>
    </div><!--
 --><div id="center">{{stats.message}}</div><!--
 --><div id="right">
      <div id="clock-header">Clock</div>
      <div id="clock" ng-class="{red: timer.running }">{{timer.getMins() | ifUndefined: '' }}:{{timer.getSecs() | ifUndefined:'00'}}</div>
    </div>
  </div>
</section>
